@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body{
    height: 100vh;
}
details div {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-left: 30px;
    max-width: 600px;
    background-color: #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	padding: 1.5em;
}

summary {
    margin-left: 30px;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
    
    width: 592px;
    color: #ffffff;
	border: 1.5px solid #ffffff;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
   
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: #ffffff;
    color: #000;
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
	background-color:#ffbf00;
    
}

code {
	font-family: monospace;
	font-weight: 600;
}

.right{
    float: right;
    position: relative;
    margin-right: 30px;
    list-style: none;
}