
h1{
    color: white;
}
.container {
  box-sizing: content-box;
  max-width: 70em;
  margin: 0 auto 48px auto;
  padding: 12px;
}

.tabpanel__tab {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.tabpanel__tab:checked + .tabpanel__tablabel {
    background-color: #ffbf00;
  color: black;
}

.tabpanel__tablabel {
  flex: 0 1 auto;
  padding: 12px;
  border: 0.5px solid #ffbf00;

  color: white;
  font-weight: 700;
}
.tabpanel__tablabel:hover {
  cursor: pointer;
  background-color: #ffbf00;
}

.tabpanel__panel {
  display: none;
  background-color: #ffbf00;
  border: 1px solid #ffbf00;

}
.tabpanel__panel > *:first-child {
  margin-top: 0;
}
.tabpanel__panel > *:last-child {
  margin-bottom: 0;
}
.tabpanel__panel > * + * {
  margin-top: 24px;
}

#tabpanel__tab-1:checked ~ .tabpanel__panels #tabpanel__panel-1,
#tabpanel__tab-2:checked ~ .tabpanel__panels #tabpanel__panel-2,
#tabpanel__tab-3:checked ~ .tabpanel__panels #tabpanel__panel-3,
#tabpanel__tab-4:checked ~ .tabpanel__panels #tabpanel__panel-4,
#tabpanel__tab-5:checked ~ .tabpanel__panels #tabpanel__panel-5 {
  display: block;
  position: relative;
  top: 0px;
}

.media__body > * {
  margin: 0;
}
.media__body > p + p,
.media__body > p + h2 {
  margin-top: 24px;
}

.media {
  display: flex;
}
@media screen and (max-width: 600px) {
  .media {
    flex-direction: column;
    align-items: flex-start;
  }
  .media .media__img {
    margin: 0 auto;
  }
  .media .media__img + .media__body {
    margin: 12px 24px 24px 24px;
  }
}
@media screen and (min-width: 601px) {
  .media {
    align-items: flex-start;
  }
  .media .media__img {
    flex: 0 1 auto;
    height: auto;
  }
  .media .media__img + .media__body {
    margin: 24px 105px 24px 18px;
  }
}

.tabpanel {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 600px) {
  .tabpanel {
    flex-direction: column;
  }
  .tabpanel .tabpanel__tablabel {
    padding: 24px 36px;
  }
  .tabpanel .tabpanel__tablabel + .tabpanel__tab + .tabpanel__tablabel {
    margin-top: 6px;
  }
  .tabpanel .tabpanel__tab:checked ~ .tabpanel__panels {
    order: 1;
  }
  .tabpanel .tabpanel__tab:not(:checked) + .tabpanel__tablabel {
    order: initial;
  }
  .tabpanel #tabpanel__tab-1 + .tabpanel__tablabel {
    order: 1;
  }
  .tabpanel #tabpanel__tab-1:checked ~ .tabpanel__panels {
    order: 1;
  }
  .tabpanel #tabpanel__tab-2 + .tabpanel__tablabel {
    order: 2;
  }
  .tabpanel #tabpanel__tab-2:checked ~ .tabpanel__panels {
    order: 2;
  }
  .tabpanel #tabpanel__tab-3 + .tabpanel__tablabel {
    order: 3;
  }
  .tabpanel #tabpanel__tab-3:checked ~ .tabpanel__panels {
    order: 3;
  }
  .tabpanel #tabpanel__tab-4 + .tabpanel__tablabel {
    order: 4;
  }
  .tabpanel #tabpanel__tab-4:checked ~ .tabpanel__panels {
    order: 4;
  }
  .tabpanel #tabpanel__tab-5 + .tabpanel__tablabel {
    order: 5;
  }
  .tabpanel #tabpanel__tab-5:checked ~ .tabpanel__panels {
    order: 5;
  }
  .tabpanel .tabpanel__panel {
    padding: 0 12px 12px 12px;
  }
}
@media screen and (min-width: 601px) {
  .tabpanel {
    flex-direction: row;
  }
  .tabpanel .tabpanel__tablabel {
    flex: 0 1 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .tabpanel .tabpanel__tablabel + .tabpanel__tab + .tabpanel__tablabel {
    margin-left: 6px;
  }
  .tabpanel .tabpanel__panel {
    padding: 12px;
  }
  .tabpanel .tabpanel__panels {
    flex: 1 1 100%;
  }
}